<html lang = "en">
  <head>
    <meta charset = "UTF-8" />
  </head>
  <body style="background:url('../assets/image/blog_background.jpg');">
    <form>
      <fieldset>
        <legend >BLOG</legend>
        <p>
          <label>Title:</label>
          <input type = "text"
                 id = "myText"
                 value = "" #title/>
        </p>
        
        <p>
          <label>Content:</label>
          <input type = "text" name="content"
         id = "content"
         #content />
        </p>
        <div id="emptyspace">
        </div>
        
      </fieldset>
    </form>

    <button (click)="post_data(title)">POST DATA</button>
  </body>
</html>