<html lang = "en">
  <head>
    <meta charset = "UTF-8" />
  </head>
  <body style="background:url('blog_background.jpg');">
    <form>
      <fieldset>
        <legend >BLOG</legend>
        <p>
          <label>Title:</label>
          <input type = "text"
                 id = "myText"
                 value = "" />
        </p>
        
        <p>
          <label>Content:</label>
          <textarea id = ""
                  rows = "3"
                  cols = "80"></textarea>
        </p>
        <div id="emptyspace">
        </div>
        <input type="submit" id="post" value="Post">
      </fieldset>
    </form>
  </body>
</html>