<body>
<div class="Info">
    <img class="img-round" src="../assets/image/blog_background.jpg" alt="">  

    <div class="details">
        <p>Rajat Jain
         <br>
         CSE,180100091
         </p>

    </div>
</div>
<div class="content">
    <p id="blog">
        Hey!!!The <meta> tag provides metadata about the HTML document. Metadata will not be displayed on the page, but will be machine parsable.

        Meta elements are typically used to specify page description, keywords, author of the document, last modified, and other metadata.
        
        The metadata can be used by browsers (how to display content or reload page), search engines (keywords), or other web services.
        
        HTML5 introduced a method to let web designers take control over the viewport (the user's visible area of a web page), through the <meta> tag (See "Setting The Viewport" example below).
    </p>
</div>
    
</body>

