<!--The content below is only a placeholder and can be replaced.-->
<html>
<body>
<div style="text-align:center">
  <!-- app.component.html  -->

  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!!
    </h1>
    
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li>Home</li>
            <li>Post New Blog</li>
            <li>Friends YO</li>
        </ul>
    </div>
   <router-outlet></router-outlet>
  </div>
</div>
  
  <script>
    function toggle(){
    document.getElementById("sidebar").classList.toggle('active');
    }
  </script>
  </body>
  </html>
  
